/*Utility Clas*/
.no-padding{ padding-left:0; padding-right:0;}
.no-margin{ margin-left:0; margin-right:0; }
.img-responsive { width:100%; }
.noPaddingLeft{ padding-left:0;}
.noPaddingRight{ padding-right:0;}